<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/inter/inter.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/cargo-planner.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()
    <script src="~/lib/three/three.min.js"></script>
    <script src="~/lib/three/GLTFLoader.js"></script>
    <script src="~/lib/tesseract/tesseract.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
